#chart {
  width: 900px;
  height: 500px;
  background: #bbb;
}

text {
  pointer-events: none;
}

g {
  pointer-events: none;
}

rect {
  fill: none;
  stroke: #fff;
  stroke-width: 1;
  pointer-events: all;
}

svg {
  font: 9px sans-serif;
}