.link-source {
    fill: none;
    stroke: blue;
    stroke-width: .7px;
    stroke-opacity: .6;
}

.link-target {
    fill: none;
    stroke: red;
    stop-opacity: .6;
    stroke-width: .7px;
}

circle {
    fill: #ccc;
    stroke: #333;
    stroke-width: 1px;
    stroke-opacity: .5;
}

svg {
    border:1px solid;
}

text {
    font: 14px sans-serif;
    font-weight:bolder;
}

.leafNode {
    fill: darkgreen;
}

.immediateNode {
    fill: purple; 
}

.intermediateNode {
    fill : grey;
}

.node {
    fill-opacity: .5;
}
